header{
    background-color: black;
    height: 500px;
    width: 100%;
}
main{
    background-color: orange;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.main__card{
    border-radius: 15px;
    background-color: rgb(30,41,59);
    height: 730px;
    width: 730px;
    position: relative;
    bottom:350px;
    padding: 40px 30px 40px 30px;
}
.input__search{
    display: flex;
    justify-content: center;
    gap:40px;
    margin-bottom: 25px;
}
.input__search input{
    border-radius: 7px;
    padding-left: 15px ;
    width: 435px;
    font-size: 17px;
    height: 50px;
    background-color: transparent;
    border:1px solid #ACACAC;
}
.input__search button{
    font-size: 17px;
    height: 50px;
    width: 110px;
}
.card__body{
    display: flex;
    justify-content: center;
}
.card__body__img{
    width: 240px;
    background-color: red;
    height: 300px;
}
img{
    width: 240px;
    height: 300px;
}
.card__body__right{
    width: 350px;
    color: white;
    height: 300px;
    text-align: center;
}
.prag{
   color:rgb(139, 129, 129);
   font-size: 25px;
   margin-top: 15px;
   margin-bottom: 20px;
}
.card__body__right h1{
    margin-bottom: 15px;
}
.box p{
    border:1px solid #ACACAC;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}
.box{
    display: flex;
    gap:15px;
    justify-content: center;
    color: white!important;
}
.card__footer{
    color: #ACACAC;
    padding: 20px 25px 20px 30px;
}

.card__footer h2{
    color: white;
}
.card__footer p{
   font-size: 17px;
}
